.App {
  text-align: center;
}

.error-code {
  color: red;
  font-size: 2rem;
  text-shadow: 0px 0px 2px black;
}

.submit {
  width: 40%;
  height: 10%;
  font-size: 1.5rem;
  border: 0;
  border-radius: 8px;
  transition: .2s;
}

.submit:hover {
  background-color: #a1a5a6;
}