header {
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header > h1,
.users-name,
.login-button {
    margin: 0px 25px;
}

.login-button,
.logout-button {
    border: 0;
    background: transparent;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.logout-button {
    font-size: initial;
}

.login-button:hover,
.logout-button:hover {
    color: blue;
}

@media screen and (max-width: 38rem) {
    header > h1,
    .login-button {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 24rem) {
    header > h1,
    .login-button {
        font-size: 1rem;
    }
}